.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gradientOverlay {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgb(226, 25, 25) 20%, rgba(134, 8, 8, 0) 30%);
    z-index: 1;
    pointer-events: none; */
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 30%);
    z-index: 1000;
    pointer-events: none;
}

.ottking-special-caption {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin: 0 0;
}

.home-bottom-button {
    width: 150px;
    height: 40px;
    font-weight: 500;
    padding: 10px 20px; /* Adjust padding for a more prominent button */
    font-size: 18px; /* Set font size to be readable */
    border-radius: 8px; /* Slightly rounded corners */
    border: none;
    background: linear-gradient(145deg, #4070a2, #01518e); /* Vibrant blue gradient */
    color: white; /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer; /* Pointer on hover */
    transition: all 0.3s linear; /* Smooth transition for hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-bottom-button:hover {
    background: linear-gradient(145deg, #4f84b3, #1461ae); /* Lighter blue gradient on hover */
    box-shadow: 0 6px 14px rgba(51, 46, 146, 0.3); /* Enhanced shadow */
    transform: translateY(-3px); /* Lift effect */
    filter: brightness(1.5); /* Slightly brighten on hover */
  }
  
  .home-bottom-button:active {
    background: linear-gradient(145deg, #0074cc, #005fa3); /* Darker blue gradient when clicked */
    transform: scale(1.01); /* Press effect */
  }

@media only screen and (max-width: 400px) {
    .sections {
        gap: 30px; /* Adjust the gap to fit smaller screens */
    }

    .gradientOverlay {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0) 35%);
    }

    .ottking-special-caption {
        font-size: 1.4rem;
        color: gold;
    }
}

 